/* Copyright Eric Baller and other contributors; Licensed MIT */

.redtext {
    color: red;
}

.period {
    display: block;
    font-style: italic;
}

.ctr {
    text-align: center;
}

.list-group-item-narrow {
	padding: 5px 5px;

    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
